h1 {
  text-align: center;
  padding-top: 20px;
  color: #05668d;
}

#transition1 {
  transition: all 0.5s ease-out;
}

#transition1:hover,
#transition1:focus {
  background-color: #fff;
  color: #679436;
}

#transition2 {
  transition: all 0.5s ease-out;
}

#transition2:hover,
#transition2:focus {
  background-color: #fff;
  color: #679436;
}

.mb-3 > label {
  color: #05668d;
}

.mb-3 #emailHelp {
  color: #05668d;
}
